.userTableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.userTable {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  width: 80%; /* Adjust the width as needed */
}

.userTable,
.userTable th,
.userTable td {
  border: 1px solid #ddd;
}

.userTable th,
.userTable td {
  padding: 8px;
  text-align: left;
}

.userTable th {
  background-color: #f2f2f2;
}

.userTable tr:hover {
  background-color: #f5f5f5;
}

/* Additional styles for displaying all user details */
.userTable td {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}
